.noto-serif-heading {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-description {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* common */
. {
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
}

/* shared styles */
body {
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  background: #e95a08;
  color: #ffffff;
  border: 50px;
}

/*nav styles */
nav {
  display: flex;
  align-items: center;
}

.logo-image {
  padding-left: 45px;
}

nav ul li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  margin-right: 50px;
}
/* banner styles */
.banner {
  display: flex;
  align-items: center;
}
.banner-content {
  padding-left: 45px;
}
.banner-picture {
  width: 570px;
}

/* plant styles */
.plant {
  text-align: center;
  margin-top: 120px;
  padding-bottom: 30px;
}
.card-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.lily {
  margin-left: 94px;
  font-size: 1.375rem;
}
.card {
  margin-left: 45px;
  margin-right: 20px;
  margin-bottom: 32px;
}

/*plant lover styles */
.plant-lover {
  display: flex;
  margin-top: 120px;
  margin-bottom: 5px;
  width: 1140px;
  height: 597px;
  gap: 60px;
}

.plant-lover-left {
  padding-left: 45px;
}
#trust-badge {
  margin-top: -700px;
  margin-left: 370px;
}
.plant-lover-right {
  width: 540px;
  height: 521px;
  padding-top: 38px;
  padding-bottom: 38px;
}
.lover-title {
  font-weight: bold;
  font-size: 3.125rem;
}
.lover-description {
  list-style: circle;
}

.deals {
  text-align: center;
  margin-top: 200px;
}
.deals-title {
  font-size: 3.125rem;
  font-weight: bold;
}

/* row styles */

.row {
  margin-top: 120px;
  display: flex;
  align-items: center;
  height: 400px;
  gap: 20px;
  padding-left: 45px;
  padding-right: 150px;
}
.plant-type-left {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-weight: bold;
  gap: 25px;
}
.plant-type-left .vertical-collage-1 {
  color: white;
  height: 206px;
  width: 366px;
  text-align: center;
  border-radius: 14px;
  padding: 90px 70px;
  background-repeat: no-repeat;
}
.plant-type-left .vertical-collage-2 {
  color: white;
  height: 197px;
  width: 366px;
  text-align: center;
  border-radius: 14px;
  padding: 90px 70px;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.plant-type-right {
  font-size: 1.25rem;
  font-weight: bold;
}
.plant-type-right .vertical-collage-3 {
  color: white;
  height: 423px;
  width: 753px;
  text-align: center;
  border-radius: 22px;
  padding: 200px 200px;
  background-repeat: no-repeat;
}

/* bunch styles */
.brunch {
  margin-top: 120px;
  width: 1440px;
  height: 533px;
  text-align: center;
  padding: 199px 130px;
}
.color-bunch {
  color: #ffffff;
  font-size: 3.125rem;
  font-weight: bold;
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: white;
  color: rgba(0, 0, 0, 0.5);
}
.btn-primary {
  background: #e95a08;
  color: #ffffff;
  border: 5px;
  border-radius: 0;
}

/* footer styles */
.footer-point {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 20px;
  gap: 110px;
}
.first-column {
  gap: 20px;
  color: rgba(0, 0, 0, 0.46);
}
.second-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: rgba(107, 114, 128, 1);
  column-gap: 110px;
}
.third-column {
  width: 216px;
  height: 36px;
  display: flex;
  justify-content: space-between;
}

/* responsive media query */

@media screen and (max-width: 576px) {
  nav > ul,
  #trust-badge {
    display: none;
  }
  nav > Ul > li .icon {
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-picture {
    width: 100%;
  }
  .banner-content {
    padding-left: 5%;
  }
  .plant-description {
    padding: 50px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    margin-left: 10px;
  }
  .lily {
    margin-left: 20px;
  }
  .plant-lover {
    flex-direction: column;
    margin-top: 20px;
    gap: 0px;
  }
  .plant-lover-left {
    padding-left: 5px;
    padding-right: 10px;
  }
  .plant-lover-right {
    padding-left: 10px;
  }
  .deals {
    margin-top: 500px;
  }
  .row {
    height: 581px;
    width: 361px;
    flex-direction: column;
  }
  .plant-type-left {
    margin-left: 10px;
  }
  .plant-type-right,
  .vertical-collage-3 {
    height: 172px;
    width: 61px;
    border-radius: 14px;
    padding: 0px 0px;
  }

  .brunch {
    margin-top: 400px;
    padding: 70px 10px;
    width: 395px;
    height: 606px;
  }
  .footer-point {
    margin-top: 100px;
    margin-left: 30px;
    flex-direction: column;
    gap: 50px;
  }
  .second-column {
    grid-template-columns: repeat(1, 1fr);
  }
}
